@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #8b5cf6, #1d4ed8);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #1d4ed8, #8b5cf6);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-message {
  opacity: 0%;
  animation: chat-message-in 0.5s ease-in-out forwards;
}

@keyframes chat-message-in {
  0% {
    transform: scale(0.0);
    opacity: 0%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    transform: scale(1.0);
    opacity: 100%;
  }
}